.cell-title {
    font-weight: bold;
}

.cell-reorder {
    cursor: move;
    background: url('../images/drag-handle.png') no-repeat center center;
}

.toggle, .folder, .file {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-bottom: -3px;
    padding-right: 3px;
}

.toggle.expand {
    background: url('../images/expand.gif') no-repeat center center;
}

.folder {
    background: url('../images/folder.png') no-repeat left top;
}

.file {
    background: url('../images/file.png') no-repeat left top;
}

.toggle.collapse {
    background: url('../images/collapse.gif') no-repeat center center;
}

.toggle.spacer {
    width: 32px;
}

.slick-row.dragger-guide {
    background-color: rgba(0,0,255,0.5);
}

.slick-viewport.dragger-guide1{
    border: 5px solid rgba(0,0,255,0.5);
}