<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>OSF FileViewer</title>
    <link rel="stylesheet" href="/static/css/slick.grid.css?{{ randint }}" type="text/css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.16.custom.css?{{ randint }}" type="text/css"/>
    <link rel="stylesheet" href="/static/css/examples.css?{{ randint }}" type="text/css"/>
    <link rel="stylesheet" href="/static/css/file-viewer-core.css?{{ randint }}" type="text/css" />
</head>
<body>

<div class="options-panel">
    <div id="drop-preview-panel" class="dropzone-previews" style="border-right: 2px solid #11557C; width:388px; min-height:90px; padding: 5px; float:left;">
        <h2>Upload Progress</h2>
    </div>
    <div id="slick-recycle" class="recycle-bin" style="width: 190px; height:90px; padding: 5px; float:right;">Recycle Bin</div>
</div>
<div id="myGridBreadcrumbs"></div>
<div id="myGrid" class="dropzone dz-Clickable" style="width:600px;height:500px;"></div>
<div id="buckyGridBreadcrumbs"></div>
<div id="buckyGrid" class="dropzone dz-Clickable" style="width:600px;height:500px;"></div>



<script src="/static/js/jquery-1.7.min.js"></script>
<script src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/static/js/jquery.event.drag-2.2.js"></script>
<script src="/static/js/jquery.event.drop-2.2.js"></script>
<script src="/static/js/dropzone.js"></script>
<script src="/static/js/slickgrid.custom.min.js"></script>
<script src="/static/js/hgrid.js"></script>

<script>
    var info = {{ info | safe }};
    var TaskNameFormatter = function(row, cell, value, columnDef, dataContext) {
        value = value.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");
        var spacer = "<span style='display:inline-block;height:1px;width:" + (15 * dataContext["indent"]) + "px'></span>";
        if (dataContext['type']=='folder') {
            if (dataContext._collapsed) {
                return spacer + " <span class='toggle expand nav-filter-item' data-hgrid-nav=" + dataContext['uid'] + "></span><span class='folder'></span>&nbsp;" + value + "</a>";
            } else {
                return spacer + " <span class='toggle collapse nav-filter-item' data-hgrid-nav=" + dataContext['uid'] + "></span><span class='folder'></span>&nbsp;" + value + "</a>";
            }
        } else {
            return spacer + " <span class='toggle'></span><span class='file'></span>&nbsp;" + value;
        }
    };

    var myGrid = HGrid.create({
        container: "#myGrid",
        info: {{ info | safe }},
        columns:[
{#            {id: "uid", name: "uid", width: 40, field: "uid"},#}
            {id: "name", name: "Name", field: "name", width: 520, cssClass: "cell-title", primary: true, sortable: true}
        ],
        urlAdd: "/",
        breadcrumbBox: "#myGridBreadcrumbs",
        dropZone: true,
        enableCellNavigation: false
    });

{#    var buckyGrid = HGrid.create({#}
{#        container: "#buckyGrid",#}
{#        info: {{ infoBucky | safe }},#}
{#        urlAdd: "/sg_move",#}
{#        columns:[#}
{#            {id: "uid", name: "uid", width: 40, field: "uid"},#}
{#            {id: "name", name: "Name", field: "name", width: 450, cssClass: "cell-title", formatter: TaskNameFormatter, editor: Slick.Editors.Text, sortable: true, defaultSortAsc: true}#}
{#        ],#}
{#        breadcrumbBox: "#buckyGridBreadcrumbs"#}
{#    });#}


{#    myGrid.hGridBeforeMove.subscribe(function(e, args){#}
{#        var insertBefore = myGrid.getItemByValue(myGrid.data, args.insertBefore, 'id')['parent_uid'];#}
{#        var new_parent = myGrid.getItemByValue(myGrid.data, insertBefore, 'uid')['name'];#}
{##}
{#            console.log("Moving " + myGrid.getItemByValue(myGrid.data, args.rows[0], 'uid')['name'] + " to " + new_parent);#}
{#            return true;#}
{##}
{#    });#}
{##}
{#    myGrid.hGridAfterMove.subscribe(function(e, args){#}
{#        if(args.success){#}
{#            console.log("Done moving");#}
{#        }#}
{#        else{#}
{#            console.log("Try again");#}
{#        }#}
{#    });#}

</script>

</body>
</html>
