<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>OSF FileViewer</title>
    <link rel="stylesheet" href="/static/css/slick.grid.css?{{ randint }}" type="text/css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.16.custom.css?{{ randint }}" type="text/css"/>
    <link rel="stylesheet" href="/static/css/examples.css?{{ randint }}" type="text/css"/>
    <link rel="stylesheet" href="/static/css/file-viewer-core.css?{{ randint }}" type="text/css" />
</head>
<body>

<div class="options-panel">
    <div id="drop-preview-panel" class="dropzone-previews" style="border-right: 2px solid #11557C; width:388px; min-height:90px; padding: 5px; float:left;">
        <h2>Upload Progress</h2>
    </div>
    <div id="slick-recycle" class="recycle-bin" style="width: 190px; height:90px; padding: 5px; float:right;">Recycle Bin</div>
</div>
<div id="myGrid" class="dropzone dz-Clickable" style="width:600px;height:500px;"></div>



<script src="/static/js/firebugx.js?{{ randint }}"></script>
<script src="/static/js/jquery-1.7.min.js?{{ randint }}"></script>
<script src="/static/js/jquery-ui-1.8.16.custom.min.js?{{ randint }}"></script>
<script src="/static/js/jquery.event.drag-2.2.js?{{ randint }}"></script>
<script src="/static/js/jquery.event.drop-2.2.js?{{ randint }}"></script>
<script src="/static/js/dropzone.js?{{ randint }}"></script>
<script src="/static/js/file-viewer-dropzone.js?{{ randint }}"></script>

<script src="/static/js/slick-grid-dependencies/slick.core.js?{{ randint }}"></script>
<script src="/static/js/slick-grid-dependencies/slick.formatters.js?{{ randint }}"></script>
<script src="/static/js/slick-grid-dependencies/slick.editors.js?{{ randint }}"></script>
<script src="/static/js/slick-grid-dependencies/slick.grid.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.dataview.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.cellrangeselector.js?{{ randint }}"></script>
<script src="/static/js/slick-grid-dependencies/slick.cellselectionmodel.js?{{ randint }}"></script>
<script src="/static/js/slick-grid-dependencies/slick.rowselectionmodel.js?{{ randint }}"></script>
<script src="/static/js/slick-grid-dependencies/slick.rowmovemanager.js?{{ randint }}"></script>
<script src="/static/js/file-viewer-slickgrid.js"></script>
<script src="/static/js/hgrid.js"></script>


<script>
    var myGrid = HGrid.create({
        container: "#myGrid",
        info: {{ info | safe }},
        url: "/sg_move"
    });
    data = myGrid.data;
    console.log(data);
    dataView = myGrid.Slick.dataView;
</script>

</body>
</html>
