<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>OSF FileViewer</title>
    <link rel="stylesheet" href="/static/css/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/examples.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/file-viewer-core.css" type="text/css" />
</head>
<body>

<div id="myGrid" style="width:600px;height:500px;"></div>

<script src="/static/js/firebugx.js"></script>
<script src="/static/js/jquery-1.7.min.js"></script>
<script src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/static/js/jquery.event.drag-2.2.js"></script>
<script src="/static/js/dropzone.js"></script>

<script src="/static/js/file-viewer-dropzone.js"></script>

<script src="/static/js/slick-grid-dependencies/slick.core.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.formatters.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.editors.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.grid.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.dataview.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.cellrangeselector.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.cellselectionmodel.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.rowselectionmodel.js"></script>
<script src="/static/js/slick-grid-dependencies/slick.rowmovemanager.js"></script>

<script src="/static/js/file-viewer-slickgrid.js"></script>

<script>
    var info_dict = {{ info | safe }}
</script>

</body>
</html>
