<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../static/css/screen.css" media="screen" />
    <link rel="stylesheet" href="../static/css/jquery.treetable.css" />
    <link rel="stylesheet" href="../static/css/jquery.treetable.theme.default.css" />
</head>
<body>
<table id="example">
<caption>
    <a href="#" onclick="jQuery('#example').treetable('expandAll'); return false;">Expand all</a>
    <a href="#" onclick="jQuery('#example').treetable('collapseAll'); return false;">Collapse all</a>
</caption>
{{ inserter | safe }}
</table>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/jquery.treetable.js"></script>
<script>
    $("#example").treetable({ expandable: true });

    // Highlight selected row
    $("#example tbody tr").mousedown(function() {
        $("tr.selected").removeClass("selected");
        $(this).addClass("selected");
    });

    // Drag & Drop Example Code
    $("#example .file, #example .folder").draggable({
        helper: "clone",
        opacity: .75,
        refreshPositions: true, // Performance?
        revert: "invalid",
        revertDuration: 300,
        scroll: true
    });

    $("#example .folder").each(function() {
        $(this).parents("tr").droppable({
            accept: ".file, .folder",
            drop: function(e, ui) {
                var droppedEl = ui.draggable.parents("tr");
                $("#example").treetable("move", droppedEl.data("ttId"), $(this).data("ttId"));
                $.post('/tt_post', {src: droppedEl.attr("data-path"), dest: $(this).attr("data-path")}, function(response){
                    console.log(response);
                });
            },
            hoverClass: "accept",
            over: function(e, ui) {
                var droppedEl = ui.draggable.parents("tr");
                if(this != droppedEl[0] && !$(this).is(".expanded")) {
                    $("#example").treetable("expandNode", $(this).data("ttId"));
                }
            }
        });
    });
</script>
</body>
</html>